.e23 {
  fill: #8abbff;
  stroke: #2d72d2;
}

.w23 {
  fill: #ff9980;
  stroke: #d33d17;
}

.ntama {
  fill: #fbd065;
  stroke: #d1980b;
}

.stama {
  fill: #72ca9b;
  stroke: #238551;
}

.wtama {
  fill: #d0b090;
  stroke: #946638;
}

.notselected {
  fill: #c5cbd3;
  stroke: #8f99a8;
}
